@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Крестики-нолики</h1>
    <p class="lead">Для начала игры необходимо зарегистрироваться или выполнить вход<img src="http://icon-icons.com/icons2/38/PNG/512/uparrow_arriba_5811.png" width="50" height="50"></p>
    
</div>
@*<script src="@Url.Content("Scripts/GameWithComp.js")" type="text/javascript"></script>*@
