
@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/gamestyle.css" />
    <script type="text/javascript" src="~/Scripts/gamescript.js"></script>
    <script type="text/javascript">
         </script>
</head>
<body>

   Количество побед: 

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
