#gameinfo {
    font-size: 110%;
}
/* размер шрифта в текстовом поле, с ID=gameinfo */
#game table { /* описывает стиль таблицы с крестиками и ноликами */
    border: 5px groove blue; /* окаёмка таблицы */
    background-image: url("http://s018.radikal.ru/i511/1705/96/79897024359e.jpg"); /* фоновая картинка для игры */
}

    #game table tr td { /* стиль для одной ячейки в таблице – где будет располагаться крестик, либо нолик, или просто будет пустовать */
        border: 1px dotted #eeb; /* опишем обводку клетки */
        cursor: pointer; /* установим вид курсора мыши, чтобы показать, что можно кликать на клетку */
    }

        #game table tr td:hover {
            border: 2px solid #ffa;
        }
/* подсвечивание клетки, при наведении на неё курсора мыши */
